<div class="cards-home">
  <a href="games?category=&address=paris&commit=Search">
    <div class="card-category" style="background: radial-gradient(ellipse at center, rgba(32, 48, 61, 1.0), rgba(134, 31, 134, 1.0));">
      Paris
    </div>
  </a>

  <a href="games?category=&address=toulouse&commit=Search">
  <div class="card-category" style="background: radial-gradient(ellipse at center, rgba(32, 48, 61, 1.0), rgba(134, 31, 134, 1.0));">
    Toulouse
  </div>
  </a>

  <a href="games?category=&address=marseille&commit=Search">
  <div class="card-category" style="background: radial-gradient(ellipse at center, rgba(32, 48, 61, 1.0), rgba(134, 31, 134, 1.0));">
    Marseille
  </div>
  </a>

  <a href="games?category=&address=lille&commit=Search">
  <div class="card-category" style="background: radial-gradient(ellipse at center, rgba(32, 48, 61, 1.0), rgba(134, 31, 134, 1.0));">
    Lille
  </div>
  </a>
</div>
