<div class="search-bar">
  <div class="search-input">
    <%= form_tag games_path, method: :get do %>
      <%= text_field_tag :category,
        params[:category],
        class: "form-control search-field",
        placeholder: "Find by category"
      %>
  </div>
  <div class="pipe"></div>
  <div class="search-input">
    <%= text_field_tag :address,
      params[:address],
      class: "form-control search-field",
      placeholder: "Find by place"
    %>
  </div>
    <button name="button" type="submit" class="btn btn-search">
      <i class="fas fa-search"></i>
    </button>
  <% end %>
</div>
