<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="game-card">
  <div class="gc-photos" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1563277267-0e9f2dabb9ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=3401&q=80); background-size: cover; margin: 8px;">
  </div>
  <div class="gc-content">
    <div class="gc-left-txt">
      <span class="gc-title">Card de test</span>
      <span class="gc-address">1 street de toto</span>
    </div>
    <span class="gc-price">125</span>
  </div>
</div>
