<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dyzqasku8/image/upload/v1629207869/banner-default_hoh1fx.jpg);">
  <%= render 'shared/navbar' %>
  <div class="container">
    <h1>Never get board again !</h1>
    <p>Forget about board games, come find real games, for real people</p>
  </div>
</div>

<div class="container mt-4 d-flex align-content-center justify-content-between align-items-center p-4}">
  <h2 class="m-0">TOP NEW PRODUCTS</h2>
  <%= link_to "All Products", games_path, class: "btn-clear btn-black border-bottom" %>
</div>
<div class="container mt-4">
  <div class="cards">
  <%= render 'shared/card', games: @games %>
  </div>
</div>
