<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dyzqasku8/image/upload/v1629207869/banner-default_hoh1fx.jpg);">
  <div class="container">
    <h1>Never get board again !</h1>
    <p>Forget about board games, come find real games, for real people</p>
  </div>
</div>


<div class="container">
  <div class="cards">
  <%= render 'shared/card', games: @games %>
  </div>
</div>
