<div class="new-products">
  <div class="container mt-4">
  <h2>All Games</h2>
  </div>

  <div class="container mt-4">
    <div class="cards">
    <%= render 'shared/card', games: @games %>
    </div>
  </div>
</div>
