.banner {
  background-size: cover;
  background-position: center;
  // padding: 0px 50px;
  height: 100vh;
  padding: 0 5vh;
  padding-top: 20vh;
  padding-bottom: 10vh;
}

.banner h1 {
  // margin: 0;
  // color: white;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  // font-size: 32px;
  font-weight: bold;
  font-family: 'Bungee Shade', cursive;
  letter-spacing: 0.06em;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 0.9;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.home-banner {
  height: 100vh;
  padding-top: 40vh;
}
