.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  justify-items: center;
}

.game-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: stretch;
  width: 250px;
  padding: 6px;
  background-color: white;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  .gc-photos {
    height: 230px;
    width: auto;
    border-radius: 10px;
    position: relative;
  }

  .gc-content {
    font-size: 14px;
    flex-direction: row;
    margin-top: 5px;
    padding: 0px 2px;

    .gc-left-txt {
      display:flex;
      flex-direction: column;

      .gc-title {
        font-weight: bold;
      }

      .gc-address {
        font-weight: lighter;
        color: rgb(120,120,120);
      }
    }
  }
  .gc-price {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(8px);
    padding: 3px 15px;
    border-radius: 14px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    color:rgba(0,0,0,0.8);

    .fa-euro-sign {
      font-size: 15px;
    }
  }
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
