.game-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  align-items: stretch;
  width: 250px;
  padding: 6px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);

  .gc-photos {
    height: 230px;
    width: auto;
    border-radius: 10px;
  }

  .gc-content {
    display: flex;
    font-size: 14px;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    margin-top: 5px;

    .gc-left-txt {
      display:flex;
      flex-direction: column;

      .gc-title {
        font-weight: bold;
      }

      .gc-address {
        font-weight: lighter;
        color: rgb(120,120,120);
      }
    }
    .gc-price {
      padding: 10px 0px;
    }
  }
}
