// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flatpickr/dist/themes/dark";
@import '@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder';

// Your CSS partials
@import "components/index";
@import "pages/index";


a {
  text-decoration: none;
  color: #fefefe;

  &:hover {
    text-decoration: none;
    color: #fefefe;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #fefefe;
}

h2 {
  font-family: 'Bungee Shade', cursive;
  color: #fefefe;
}

p {
  color: #fefefe;
}

// .content-wrapper {
//   min-height: calc(100vh - 70px - 80px);
//   // margin: 100px;
// }

// .simple_form {
//   min-width: 25vw;
//   color: #fefefe;

//   a {
//     color: #fefefe;
//   }

// }

// .space-block-top-bottom-20 {
//   margin-top: 20vh;
// }
// .space-block-top-bottom-15 {
//   margin-top: 15vh;
// }
